:root{
    --hue: 1;
    --saturation: 65%;
    --main-color: hsl(var(--hue), var(--saturation), 50%);
    --secondary-color: hsl(var(--hue), var(--saturation), 75%);
}

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 50vh;
    right: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    
}

.capitalD{
background-color: var(--main-color);
border-radius: 0 50% 50% 0;
width: 20vh;
height: 20vh;

}
.capitalE {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh; 
    width: 20vh;   
    position: relative;
}
.capitalE::before {
    content: ''; 
    position: absolute; 
    left: 0;          
    top: 0;           
    width: 30%;      
    height: 100%;     
    background-color: var(--main-color); 
}

.rectangle {
    width: 100%; 
    position: relative; 
    height: 5vh;
    background-color: var(--main-color);
}


.capitalB{
width: 20vh;
height: 20vh;
position: relative;
border-radius: 0;
clip-path: none;
overflow: hidden;

&::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--main-color);
    border-radius: 0 50% 0 0;
}

&::before {
    top: 0;
    border-radius: 0 50% 50% 0;
}

&::after {
    bottom: 0;
    border-radius: 0 50% 50% 0;
}
}

.capitalR{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20vh;
        height: 15vh;
        background-color: var(--main-color);
        border-radius: 0 50% 50% 0;
    }
width: 0;
height: 0;
border-bottom: 20vh solid var(--main-color);
border-right: 20vh solid transparent;
}
.capitalU{
border-radius: 0 0 50% 50%;
width: 20vh;
height: 20vh;
background-color: var(--main-color);
}
.capitalP{
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20vh;
        height: 10vh;
        background-color: var(--main-color);
        border-radius: 0 50% 50% 0;
    }
width: 5vh;
height: 20vh;
background-color: var(--main-color);
}
